@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  display: flex;
  flex-direction: column;
}

header {
  margin: 15px 0 10px;
  text-align: center;
}

h1 { margin-bottom: 10px; }

.language-submenu,
.dollar-submenu { display: none; }

.header-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.user::before { content: '\f007'; }
.bag::before { content: '\f290'; }

.icons::before {
  position: absolute;
  left: 0px;
  font-family: "FontAwesome";
  font-size: 8px;
  text-indent: 0;
}

.icons { 
  display: inline-block;
  position: relative;
  text-indent: -9999px;
}

.header-icons {
  display: flex;
  align-items: center;
  flex-basis: 15%;
  justify-content: space-between;
}

.header-icons li:nth-of-type(2) {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #A47870;
}

.bag {
  width: 25px;
  height: 25px
}

.bag::before,
.user::before {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.language-container { 
  align-items: center;
  font-size: 8px;
  text-transform: uppercase;
}

.user::before { color: #999; }

.language a::after,
.dollar a::after { 
  padding-left: 3px;
  content: '\f0d7'; 
  font-family: "FontAwesome";
}

.language a,
.dollar a { color: #555; } 

.language-container { 
  display: flex;
  flex-basis: 20%;
  justify-content: space-around;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*Banner section start*/
.banner-section {
  width: 100%;
  min-height: 200px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  background: url(/assets/Images/cf763dbc4af9f2e7c15c492da034873160002087_slide1.jpg) no-repeat center center / cover;
}

.banner-section .wrapper { flex-basis: 70%; }

h2 {
  margin-bottom: 4px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner-content { text-align: center; }

.banner-content p { 
  color: #fff;
  font-size: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*Banner section end*/

/*Feature section start*/
.feature-section { margin-bottom: 30px; }

.tick::before { 
  color: #A47870;
  content: '\f00c';
  font-size: 18px;
}

.feature-section ul { 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature-section ul li { text-align: center; }
.caps::first-letter { text-transform:  uppercase; }

h3 {
  margin-bottom: 10px;
  color: #555;
  font-size: 11px;
}

.para,
.line {
  color: #777;
  font-size: 8px;
}
/*Feature section end*/

/*Poster section start*/
.poster-section { 
  margin-bottom: 30px;
  background-color: #F4F0EB;
 }

.poster-section .wrapper { width: 92%; }
.poster-section figure { margin-bottom: 32px; }

h4 {
  margin-bottom: 10px;
  color: #444;
  font-size: 13px;
}

.poster-content .icons { display: block; }

.line::before { 
  padding-right: 5px;
  content: '\2d';
  font-family: "FontAwesome";
}

.poster-content ul {
  width: 85%;
  margin: 0 auto 17px;
}

.price-info { 
  padding-bottom: 43px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart { flex-basis: 23%; }

.cart a {
  width: 100%;
  padding: 10px 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #A47870;
  color: #fff;
  font-size: 5px;
  justify-content: center;
  text-transform: uppercase;
}

.price span { color: #444; }
/*Poster section end*/

/*card section start*/
.main-card-list > li:nth-of-type(3) { display: none; }

.main-card-list { 
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-card-list > li { 
  flex-basis: 45%;
  text-align: center;
 }

h5 { 
  padding-top: 20px;
  position:  relative;
  font-size: 8px;
  text-transform: capitalize;
 }

h5::before,
h6::after {
  width: 50px;
  height: 0.5px;
  position: absolute;
  top: 6px;
  left: 50%;
  background-color: #A47870;
  content: '';
  transform: translate(-50%, 50%);
}

.card-list > li:nth-of-type(1) { margin-bottom: 10px; }

.card-list > li:nth-of-type(3) { 
  width: 100%; 
  margin-bottom: 10px;
  color: #777;
  font-size: 10px;
}

.card-list li:nth-of-type(4) {
  width: 50%;
  padding: 6px 5%;
  margin: 0 auto;
  border: 0.2px solid #9999;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 5px;
  justify-content: center;
  text-transform: uppercase;
}

.card-list li:nth-of-type(4) a { color: #000; }

.dot-sec span {
  width: 20px;
  height: 20px;
}

.dot-sec { text-align: center; }

.dot-sec span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #999;
  text-indent: -9999px;
}

.dot-sec .active { background-color: #A47970; }
.card-section { margin-bottom: 60px; }
/*card section end*/

/*Fashionable bags section start*/
h6 {
  margin-bottom: 35px;
  position: relative;
  color: #444;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

h6::after { top: 50px; }

.fashionable-bags .wrapper { width: 94%; }

.fashionable-bags p { 
  font-size: 6.5px;
  line-height: 10px;
  text-align: center;
}

.fashionable-bags { margin-bottom: 25px; }
/*Fashionable bags section end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 30px 0;
  background-color: #996A61;
}

.facebook::before { content: '\f082'; }
.twitter::before { content: '\f099'; }
.insta::before { content: '\f16d'; }
.gplus::before { content: '\f0d5'; }
.pinterest::before { content: '\f231'; }

footer ul { 
  display: flex;
  justify-content: center;
}

footer ul li { flex-basis: 15%; }
footer ul li a { color: #fff; }

footer p {
  color: #fff;
  font-size: 7px;
}

footer .wrapper { text-align: center; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
.header-icons { flex-basis: 10%; }

.feature-section ul {
  width: 70%;
  margin: 0 auto;
}

.poster-section .wrapper { width: 86%; }
h4 { font-size: 14px; }

.para,
.line { font-size: 9px; }

h6::after { top: 34px; }
footer ul {
  width: 50%;
  margin: 0 auto;
}
}  

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {



}  

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {



}  

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {



}  

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {



}  
